<kendo-grid
          [data]="view"
          [height]="533"
          [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
          [pageable]="true" [sortable]="true"
          [navigable]="true"
          (add)="addHandler($event)"
          (save)="saveHandler($event)"
          (edit)="editHandler($event)"
          (remove)="removeHandler($event)"
          (cancel)="cancelHandler($event)"
        >
        <ng-template kendoGridToolbarTemplate>
            <button *ngIf="!isEditMode" kendoGridAddCommand>Add new</button>
        </ng-template>

        <kendo-grid-column
          *ngFor="let column of columns"
          field="{{column.field}}"
          title="{{column.title}}"
          format="{{column.format}}"
          filter="{{column.type}}"
          editor="{{column.editor}}">
        </kendo-grid-column>
        
        <kendo-grid-command-column title="Actions" width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand [primary]="true">Edit</button>
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
      <div kendoDialogContainer></div>