
<div class="row m-0 p-5">
    <div class="col-xs-12 col-md-3">
        <h2>Configuration</h2>
        <div>
            <label>Tables:</label>
        </div>
        
        <app-configuration></app-configuration>
    </div>
    <div class="col-xs-12 col-md-9">
        <h2>Data</h2>
        <app-data></app-data>
    </div>
</div>

<router-outlet></router-outlet>